#cardBody{
    display:flex;
    flex-wrap: wrap;
    margin:0 auto;
    padding:0%;
    width:100%;
    height:auto;
    text-align:center;
    justify-content: center;
    align-content: center;
}

.card{
    width:30%;
    height: 550px;
    border:solid rgb(214, 214, 214) 1px;
    max-width: 400px;
    min-width:100px;
    margin:1%;
    overflow: hidden;
}

.card>.star{
    cursor: pointer;
    width:25px;
    height: 25px;
    position:absolute;
    margin:5px;
    background-color: white;
    padding:2px;
    border-radius: 30px;
}

.card>.cancel{
    cursor: pointer;
    width:25px;
    height: 25px;
    position:absolute;
    margin:40px 5px 5px 5px ;
    background-color: white;
    padding:2px;
    border-radius: 30px;
}

.card>img{
    width:100%;
    max-height: 60%;
}

.card>h1{
    font-weight: bolder;
    font-size:150%;
    margin-block:15px;
}

.card>p{
    font-size: 120%;
    max-width:100%;
    padding-inline:2%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card>p:hover{
    max-width:100%;
    overflow: visible;
    text-overflow: unset;
    white-space: wrap;
}

.from{
    font-weight: bolder;
    position: relative;
    text-align:right;
    padding-right: 2%;
}

@media (max-height: 1024px), (max-width:768px){
    .card{
        width:100%;
        height: 360px;
    }
}