body {
    font-family: "Lato", sans-serif;
    transition: background-color 0.5s;
    margin:0;
    padding:0;
}

.closebtn, #main>span{
  display: none;
}

#mySidenav{
  position: fixed;
  background-color: white;
  width:100%;
  margin:0;
  padding:0;
  text-align: right;
}

#main>h2{
  padding-top:5%;
  padding-inline: 2%;
}

.navItem{
  font-size:110%;
  display:inline-block;
  color:black;
  text-decoration: none;
  padding-block:2%;
  padding-inline:3%;
}

.navItem:hover{
  font-weight: bolder;
  border-bottom:black solid 2px;
  font-size:130%;
}

@media (max-height: 768px){
    #main > span,
    #mySidenav {
        display: block;
    }

    #mySidenav{
      text-align: left;
    }

    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    #main {
        transition: margin-left 0.5s;
    }

    #main > span {
        font-size: 30px;
        cursor: pointer;
        padding-left:16px;
    }
}
